<form [formGroup]="addEditForm">

    <!-- <small *ngIf="addEditForm.controls['name'].dirty && addEditForm.hasError('required', 'name')" class="text-danger">*Product Name is required</small> -->
    <!-- <small *ngIf="addEditForm.controls['name'].dirty && addEditForm.hasError('maxLength', 'name')" class="text-danger">Product Name too long</small> -->
    <div class="mb-3">
        <label for="name" class="form-label">Product Name </label>
        <Input type="text" class="form-control" [formControl]="name" name="name" ngDefaultControl >
    </div>

    <!-- <small *ngIf="addEditForm.controls['description'].dirty && addEditForm.hasError('maxlength', 'description')" class="text-danger">*Description too long</small> -->
    <div class="mb-3">
        <label for="description" class="form-label">Product Description (optional) </label>
        <Input type="text" class="form-control" [formControl]="description" name="description" ngDefaultControl>
    </div>

    <div class="mb-3">
        <label for="productImageURL" class="form-label">Product Image Url </label>
        <Input type="text" class="form-control" [formControl]="productImageURL"  name="productImageURL" ngDefaultControl >
    </div>

    <div class="mb-3">
        <label for="productType">Product Type</label>
        <select class="form-control" name="productTypeId" id="productTypeId" >
            <option *ngFor="let type of productTypesList$|async" [value]="type.id" >{{type.productTypeStr}}</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Product Price </label>
        <Input type="text" class="form-control" [formControl]="price" name="price" ngDefaultControl>
    </div>

    <div class="mb-3">
        <label for="productQuantity" class="form-label">Product ProductQuantity </label>
        <Input type="text" class="form-control" [formControl]="productQuantity" name="productQuantity" ngDefaultControl>
    </div>

    <div class="mb-3">
        <label for="productLocation" class="form-label">Product Location </label>
        <Input type="text" class="form-control" [formControl]="productLocation" name="productLocation" ngDefaultControl>
    </div>

    <div class="mb-3">
        <label for="productRatings" class="form-label">Product Ratings </label>
        <Input type="text" class="form-control" [formControl]="productRatings" name="productRatings" ngDefaultControl>
    </div>

    <button (click)="onSubmit()" *ngIf="storage.id==0" class="btn btn-primary">Add</button>
    <button (click)="onSubmit()" *ngIf="storage.id!=0" class="btn btn-primary">Update</button>
</form>
