<div class="text-center my-2 border border-1 d-block">
  <h4>Welcome to All In One Shop!</h4>
  <h4>Recently added items:</h4>
</div>

<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
  class="bi bi-arrow-down d-block mx-auto my-2" viewBox="0 0 16 16">
  <path fill-rule="evenodd"
    d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
</svg>

<div id="carouselDark" class="carousel carousel-dark slide mx-auto" style="width: 70rem;" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselDark"
      *ngFor="let product of (recentProducts$ | async)?.slice(productsLenght > 10 ? productsLenght - 10 : 0, productsLenght)?.reverse(); let i = index"
      [attr.data-bs-slide-to]="i" [ngClass]="i == 0 ? 'active' : '' "></button>
  </div>
  <div class="carousel-inner" routerLink="/products">
    <div data-bs-interval="5000"
      *ngFor="let product of (recentProducts$ | async)?.slice(productsLenght > 10 ? productsLenght - 10 : 0, productsLenght)?.reverse(); let i = index"
      [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item' ">
      <!-- Image that shows if the url is valid -->
      <img class="img-fluid img-thumbnail mx-auto d-block" *ngIf="validateUrl(product.productImageURL)" src={{product.productImageURL}}
        alt="Image Not Found" onerror="this.src='../../../assets/img.png'">
      <!-- Image that shows if the url is invalid -->
      <img class="img-fluid img-thumbnail mx-auto d-block" *ngIf="!validateUrl(product.productImageURL)" src='../../../assets/img.png'>
      <div class="carousel-caption d-none d-md-block shadow-none p-3 mb-3 bg-light rounded" style="opacity: 0.6">
        <h5>{{product.name}}</h5>
        <p>Now only for {{product.price}}</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
