.nav-item{
    cursor: pointer;
}

.shoppingCart{
    border-left: 1px solid black; padding: 0.5rem;
}

.shoppingCart:hover{
    color:  rgb(67, 163, 248);
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
  
#lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
}