<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home" (click)="refreshPage()">Navigation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLinkActive="border border-info rounded" aria-current="page" routerLink="/home" (click)="refreshPage()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="border border-info rounded" routerLink="/products">Product List</a>
          </li>
          <li class="nav-item" *ngIf="!this.staticLoggin">
            <a class="nav-link" routerLinkActive="border border-info rounded" routerLink="/register">Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="!this.staticLoggin">
            <a class="nav-link" routerLinkActive="border border-info rounded" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>

      <ng-container *ngIf="this.staticLoggin">      
        <h4 class="mx-4">Hey, {{this.fullName}}</h4>
        <button class="btn btn-danger" (click)="logOut()">Log Out</button>
      </ng-container>

    </div>
</nav>