#add-success-alert,
#delete-success-alert{
    display: none;
}

#add-success-alert,
#delete-success-alert{
    animation-name: fadeInAndOut;
    animation-duration: 4s;
}

@-webkit-keyframes fadeInAndOut{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.card{
    height: 18rem;
    width: 18rem;
    transition: transform .2s; /* Animation */
}

.card:hover{
    background-color: rgb(67, 163, 248);
    transform: scale(1.05);
}

.card-img-top{
    max-height: 9rem;
}

.card-text{
    max-height: 5rem;
}