<div class="input-group px-5 pt-2 pb-5">
  <input id="searchInput" type="search" class="form-control rounded me-2"
    placeholder="Type in the name of the desired product" aria-label="Search" aria-describedby="search-addon"
    (input)="search()" />
  <select class="form-select form-select-sm me-2" name="productTypeId" id="productTypeId" [ngModel]="selectedProductType"
    (ngModelChange)="selectedProductType=$event" (change)="search()">
    <option value="">All product types</option>
    <option *ngFor="let type of productTypesList$|async" [value]="type.productTypeStr">{{type.productTypeStr}}</option>
  </select>
  <button type="button" class="btn btn-outline-primary" (click)="search()">Search</button>
</div>

<!-- Add Product trigger modal -->
<button *ngIf="getIsAdmin" type="button" class="btn btn-primary mx-auto d-block my-4" data-bs-toggle="modal"
  data-bs-target="#modal1" (click)="modalAdd()">
  Add Product
</button>

<div class="alert alert-success" role="alert" id="add-success-alert">
  Product successfully added!
</div>

<div class="alert alert-success" role="alert" id="delete-success-alert">
  Product successfully deleted!
</div>

<div class="text-center">
  <div class="card my-1 mx-2 border border-1 border-secondary rounded d-inline-block"
    *ngFor="let product of (productList$ | async) | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage } , let i = index" (click)="navigation(i)">
    <div class="container my-4">
      <img class="card-img-top" src={{product.productImageURL}} alt="Image Not Found"
        onerror="this.src='../../../assets/img.png'">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">
          Price: {{product.price}}
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="storagesList.length === 0" class="text-center">
  <p class="border border-1">No item matches your search!</p>
  <a class="clickable" *ngIf="selectedProductType != ''" (click)="checkAllCategories(); search()">Click here to search in all item categories</a>
</div>

<!-- Add Product Modal -->
<div class="modal fade" id="modal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal1Label">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalClose()"
          id="add-edit-modal-close"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-product [storage]="storage" [product]="product" *ngIf="activeAddEditProductComponent">
        </app-add-edit-product>
      </div>
    </div>
  </div>
</div>

<!-- Controls for product pages -->
<pagination-controls (pageChange)="currentPage = $event; getProductsOnCurrentPage()"></pagination-controls>
