<!-- Add Product trigger modal -->
<button type="button" class="btn btn-primary mx-auto d-block" style="margin-bottom: 2%" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add Product
</button>

<table class="table table-striped">
    <thead>
        <th>StorageId</th>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>ProductDescription</th>
        <th>ProductImageURL</th>
        <th>ProductType</th>
        <th>ProductPrice</th>
        <th>ProductQuantity</th>
        <th>ProductLocation</th>
        <th>ProductRatings</th>
    </thead>
    <tbody>
        <tr *ngFor="let storage of storagesList$|async">     
            <td>{{storage.id}}</td>       
            <td>{{storage.productId}}</td>       
            <td>{{storagesMap.get(storage.productId).name}}</td>
            <td>{{storagesMap.get(storage.productId).description}}</td>
            <td>{{storagesMap.get(storage.productId).productImageURL}}</td>
            <td>{{productTypesMap.get(storagesMap.get(storage.productId).productTypeId)}}</td>
            <td>{{storagesMap.get(storage.productId).price}}</td>
            <td>{{storage.productQuantity}}</td>
            <td>{{storage.productLocation}}</td>
            <td>{{storage.productRatings}}</td>
        </tr>
    </tbody>
</table>


  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-product></app-add-edit-product>
        </div>
      </div>
    </div>
  </div>
  
