input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

.trashcan, .clickable{
  cursor: pointer;
}

.clickable:hover{
  color: rgb(67, 163, 248);
  text-decoration: underline;
}